body {
  display: flex;
  justify-content: center;
  font-family: "Andale Mono";
  font-weight: 500;
  color: #91BACF;
  background: -webkit-linear-gradient(180deg, #F7F9F9, #ECEFF9) no-repeat fixed;
  background: linear-gradient(160deg, #F7F9F9, #ECEFF9) no-repeat fixed;
}

#title {
  text-align: center;
}

#tickers-dashboard {
  width: 400px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}

#ticker-container {
  width: 400px;
  height: 248px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  #tickers-dashboard {
    width: 820px;
  }
  #ticker-container {
    padding: 5px;
  }
}

@media screen and (min-width: 1400px) {
  #tickers-dashboard {
    width: 1230px;
  }
}